
###> symfony/framework-bundle ###
/back/.env.local
/back/.env.local/.env.local.php
/back/.env.local/.env.*.local
/back/config/secrets/prod/prod.decrypt.private.php
/back/public/bundles/
/back/var/
/back/vendor/
/back/public/uploadedFiles
/back/.idea
###< symfony/framework-bundle ###

###> phpunit/phpunit ###
/phpunit.xml
.phpunit.result.cache
###< phpunit/phpunit ###

###> symfony/phpunit-bridge ###
.phpunit.result.cache
/phpunit.xml
###< symfony/phpunit-bridge ###

###> symfony/webpack-encore-bundle ###
/back/node_modules/
/back/public/build/
/backnpm-debug.log
/backyarn-error.log
###< symfony/webpack-encore-bundle ###

/front/node_modules/