{% extends 'base.html.twig' %}

{% block title %}Edit TimelineStep{% endblock %}

{% block body %}
    <h1>Edit TimelineStep</h1>

    {{ include('timeline_step/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('app_timeline_step_index') }}">back to list</a>

    {{ include('timeline_step/_delete_form.html.twig') }}
{% endblock %}
