{% extends 'base.html.twig' %}

{% block title %}New TimelineStep{% endblock %}

{% block body %}
    <h1>Create new TimelineStep</h1>

    {{ include('timeline_step/_form.html.twig') }}

    <a href="{{ path('app_timeline_step_index') }}">back to list</a>
{% endblock %}
